<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".core.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:replace="android:allowBackup,android:theme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.activity.home.search.hotel.BookEventBanquetActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.home.HotelBookOtpActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.home.RoomReservationActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.auth.WebActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.account.subscription.MemberDiscountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.subscription.PioneerMemberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.MemberBenefitsDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.MemberDiscountDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.AccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.ConfirmPayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.ReviewReservationMemberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.ConfirmIdentityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.VerificationCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.subscription.SubscriptionBuyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.subscription.SubscriptionPlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.SpecialRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.InterestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.FoodAndDrinksActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.AccessibilityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.RoomPreferencesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.AddOnsExperienceDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.AddOnsExperienceBookSlotActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activity.home.BookingConfirmedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.BookingHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.TransactionHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.PaymentMethodActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.PersonalInformationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.account.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.search.hotel.WeddingEventActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.AddCardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.ReviewReservationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.search.hotel.HotelOfferDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.search.hotel.HotelOfferActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.search.hotel.ReservationSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.search.hotel.ReservationFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.search.hotel.BookTableActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.RoomsPackagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.search.hotel.RestaurantDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.search.hotel.HotelMapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.search.hotel.HotelDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.search.hotel.HotelListViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.search.SelectRoomAndGuestsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.search.SearchLocationDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.search.SearchCalendarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.search.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.notification.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.NewlyOpenedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.CurrentOffersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.NewlyLaunchedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.MostRelevantActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.home.RewardCircleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.auth.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.auth.OTPActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.intro.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.intro.Splash2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.NoInternetConnectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.intro.Splash1Activity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="payu_debug_mode_enabled"
            android:value="true" />
        <meta-data
            android:name="payu_web_service_url"
            android:value="https://test.payu.in" />
        <meta-data
            android:name="payu_post_url"
            android:value="https://test.payu.in" />

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>